<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer">
            <script src="../static/vendor/jquery/jquery.js" th:src="@{/vendor/jquery/jquery.js}"></script>
            <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
            <script>
                $(document).ready(function(){
                $("a").click(function(){
                $(".fas fa-plus-circle").toggleClass("fas fa-plus-circle fas fa-minus-circle"))};
                });
            </script>
            <script>
                $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                });
            </script>
        </div>
    </body>
</html>