<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title></title>
    </head>
    <body>
        <div th:fragment="header">
            <div class="d-flex" id="wrapper">
                <div class="bg-light border-right pre-scrollable" id="sidebar-wrapper" style="background-color: #cacbce !important;">
                    <div class="sidebar-heading"></div>
                    <div class="sidebar-heading"></div>
                    <!-- Nav Bar Items -->
                    <div id="nav" class="list-group list-group-flush">
                        <!-- Home -->
                        <a href="#" class="list-group-item list-group-item-action bg-light" >Home</a>

                        <!-- Service Order -->
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#so">
                            Service Order <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="so" class="collapse">
                            <a  href="#" th:href="@{/serviceOrders}" class="list-group-item ">Search Order</a>
                            <a  href="#" th:href="@{/createOrder}" class="list-group-item ">Create Order</a>
                            <a href="#" th:href="@{/incident/new}" class="list-group-item ">Add Incident</a>
                            <a href="#" th:href="@{/incidents}" class="list-group-item ">View Incident</a>
                            <a href="#" th:href="@{/serviceOrderStatus/new}" class="list-group-item ">Service Order Status</a>
                            <a href="#" th:href="@{/serviceOrderStatuss}" class="list-group-item ">View Service Order Status</a>
                        </div>


                        <!-- Customer -->
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#customer">
                            Customer <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="customer" class="collapse">
                            <a href="#" th:href="@{/customerSites}" class="list-group-item ">Search</a>
                            <a href="#" th:href="@{/customerSite/new}" class="list-group-item " >Add</a>
                            <a href="#" th:href="@{/contactStatus/new}" class="list-group-item ">Add Contact Status</a>
                            <a href="#" th:href="@{/contactType/new}" class="list-group-item ">Add Contact Type</a>
                            <a href="#" th:href="@{/contactStatuss}" class="list-group-item ">View Contact Status</a>
                            <a href="#" th:href="@{/contactTypes}" class="list-group-item ">View Contact Type</a>
                        </div>
                        <!-- Services -->
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#service">
                            Services <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="service" class="collapse">
                            <a href="#" th:href="@{/svcs}" class="list-group-item ">View Services</a>
                            <a href="#" th:href="@{/svc/new}" class="list-group-item " >Add Service</a>
                            <a href="#" th:href="@{/serviceStatus/new}" class="list-group-item ">Add Service Status</a>
                            <a href="#" th:href="@{/serviceType/new}" class="list-group-item ">Add Service Type</a>
                            <a href="#" th:href="@{/serviceStatuss}" class="list-group-item ">View Service Status</a>
                            <a href="#" th:href="@{/serviceTypes}" class="list-group-item ">View Service Type</a>
                        </div>

                        <!-- Contractor -->
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#contractor">
                            Contractor <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="contractor" class="collapse">
                            <a href="#" th:href="@{/contractors}" class="list-group-item ">Search</a>
                            <a href="#" th:href="@{/contractor/new}" class="list-group-item ">Add Contractor</a>
                            <a href="#" th:href="@{/contractorStatus/new}" class="list-group-item ">Add Contractor Status</a>
                            <a href="#" th:href="@{/contractorType/new}" class="list-group-item ">Add Contractor Type</a>
                            <a href="#" th:href="@{/contractorStatuss}" class="list-group-item ">View Contractor Status</a>
                            <a href="#" th:href="@{/contractorTypes}" class="list-group-item ">View Contractor Type</a>
                        </div>


                        <!-- Hardware -->
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#hardware">
                            Hardware <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="hardware" class="collapse">
                            <a href="#" class="list-group-item ">Search</a>
                            <a href="#" class="list-group-item ">Add</a>
                            <a href="#" th:href="@{/hwManufacturer/new}" class="list-group-item ">Add Hardware Manufacture</a>
                              <a href="#" th:href="@{/hwSeriesStatus/new}" class="list-group-item ">Add Hardware Series Status</a>
                            <a href="#" th:href="@{/hwModelStatus/new}" class="list-group-item ">Add Hardware Model Status</a>
                            <a href="#" th:href="@{/hwSeries/new}" class="list-group-item ">Add Hardware Series</a>
                            <a href="#" th:href="@{/hwModel/new}" class="list-group-item ">Add Hardware Model</a>
                            <a href="#" th:href="@{/hwType/new}" class="list-group-item ">Add Hardware Type</a>
                            <a href="#" th:href="@{/hwManufacturerStatus/new}" class="list-group-item ">Add Hardware Manufacture Status</a>
                            <a href="#" th:href="@{/hwType/new}" class="list-group-item ">Add Hardware Type</a>
                            <a href="#" th:href="@{/hwManufacturerStatuss}" class="list-group-item ">View Hardware Manufacture Status</a>
                            <a href="#" th:href="@{/hwTypes}" class="list-group-item ">View Hardware Type</a>
                             <a href="#" th:href="@{/hwManufactures}" class="list-group-item ">View Hardware Manufacture</a>
                            <a href="#" th:href="@{/hwSeriess}" class="list-group-item ">View Hardware Series</a>
                            <a href="#" th:href="@{/hwModels}" class="list-group-item ">View Hardware Model</a>
                            <a href="#" th:href="@{/hwSeriesStatuss}" class="list-group-item ">View Hardware Series Status </a>
                            <a href="#" th:href="@{/hwModelStatuss}" class="list-group-item ">View Hardware Model Status</a>
                        </div>
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#others">
                            Other <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="others" class="collapse">
                            <a href="#" th:href="@{/country/new}"  class="list-group-item ">Add Countries</a>
                            <a href="#" th:href="@{/state/new}" class="list-group-item ">Add States</a>
                            <a href="#" th:href="@{/countrys}" class="list-group-item ">View Countries</a>
                            <a href="#" th:href="@{/states}" class="list-group-item ">View States</a>
                            <a href="#" th:href="@{/skill/new}" class="list-group-item ">Add Skills</a>
                            <a href="#" th:href="@{/skills}" class="list-group-item ">View Kills</a>
                        </div>

                        <!-- Knowledge base 
                        <a href="#"class="list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target="#kb">
                            Knowledge Base <i class="fas fa-plus-circle"></i>
                        </a>

                        <div id="kb" class="collapse">
                            <a href="#" class="list-group-item ">Search</a>
                            <a href="#" class="list-group-item ">Add</a>
                        </div>
                        -->
                        <!--
                        <a href="#" class="list-group-item list-group-item-action bg-light" >Reports</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light" >DB Management</a>
                        -->
                        <a class="nav-link" href="#" th:href="@{/logout}">Logout<span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </div>

            <div class="container w-responsive"  >           
                <div id="page-content-wrapper">
                    <div class="col-sm-12" id="topbar">
                        <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #cacbce !important;">
                            <div class="col-sm-12" id="valeriebar1"></div>
                            <button class="btn btn-primary" id="menu-toggle"><span class="dark-blue-text"><i
                                        class="fa fa-bars fa-1x"></i></span></button></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" th:href="@{/logout}" >Logout<span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="col-sm-12" id="valeriebar1"></div>
                    </div>
                    <div class="container-fluid" id="form">
                        <h1 class="mt-4 text-center" th:text="${nstitle}"></h1>
                        <center> <span th:text="${addMessage}" ></span> </center>
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>
