<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>View Audit Trail</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <span th:text="${addMessage}"></span>
            <div th:switch="${auditTrails}">
                <h2 th:case="null">No Audit Trail!</h2>
                <div th:case="*">
                    <h2>Audit Trail</h2>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Transaction</th>
                                <th>Transaction Date</th>
                                <th>Transaction Timestamp</th>
                                <th>Status</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="auditTrail : ${auditTrails}">
                                <td th:text="${auditTrail.id}"><a href="/auditTrail/${auditTrail.id}">Id</a></td>
                                <td th:text="${auditTrail.transactions}"></td>
                                <td th:text="${auditTrail.tranDate}"></td>
                                <td th:text="${auditTrail.ctime}"></td>
                                <td th:text="${auditTrail.status}"></td>
                                <td th:text="${auditTrail.userId}"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </body>
</html>