<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
      
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${contractorSkill}" th:action="@{/contractorSkill}" method="post">
                        <div class ="form-group">
                            <label>Country</label>
                            <select  placeholder="Country" type="text" list="countryList" class="form-control" th:field="*{contractorId}" id="contractorId" required="">
                             <option class="form-control" th:each="contractor : ${contractors}"
                                        th:value="${contractor.id}"
                                        th:utext="${contractor.fullnames}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('contractorId')}" th:errors="*{contractorId}"></span>
                        </div>

                        <div class ="form-group">
                            <label>Skill</label>
                            <select placeholder="Skill" type="text" list="skillList" class="form-control" name="hidden" th:field="*{skillId}" id="skillId" required="">
                            <option class="form-control" th:each="skill : ${skills}"
                                        th:value="${skill.id}"
                                        th:utext="${skill.skillName}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('skillId')}" th:errors="*{skillId}"></span>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>