<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${contractor}" th:action="@{/contractor}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class ="form-group">
                                    <label>First Name</label>
                                    <input type="text" class ="form-control" placeholder="First Name" id="contractor_fname" th:field="*{contractor_fname}" required="">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class ="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class ="form-control" placeholder="Last Name" id="contractor_lname" th:field="*{contractor_lname}" required="">
                                </div>
                            </div>
                        </div>
                        <!-- CLOSE ROW-->

                        <div class ="form-group">
                            <label>Email</label>
                            <input type="email" class ="form-control" placeholder="Add Email" id="contractor_email" th:field="*{contractor_email}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Phone Number</label>
                            <input type="text" class ="form-control" placeholder="Phone Number" id="contractor_username" th:field="*{contractor_username}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Street Address</label>
                            <input type="address" class ="form-control" placeholder="Street Address" id="contractor_address" th:field="*{contractor_address}" required="">
                        </div>

                        <div class ="form-group">
                            <label>City</label>
                            <input type="text" class ="form-control" placeholder="City" id="contractor_city" th:field="*{contractor_city}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Zip code</label>
                            <input type="text" class ="form-control" placeholder="Zip code" id="contractor_zip" th:field="*{contractor_zip}" required="">
                        </div>


                        <div class ="form-group">
                            <label>Country</label>
                            <select  placeholder="Country" class="form-control" th:field="*{country_id}" id="country_id" required="">
                                <option class="form-control" th:each="country : ${countries}"
                                        th:value="${country.id}"
                                        th:utext="${country.country_name}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('country_id')}" th:errors="*{country_id}"></span>
                        </div>

                        <div class ="form-group">
                            <label>State</label>
                            <select placeholder="State" class="form-control"  th:field="*{state_id}" id="state_id" required="">
                                <option class="form-control" th:each="state : ${states}"
                                        th:value="${state.id}"
                                        th:utext="${state.state_name}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('state_id')}" th:errors="*{state_id}"></span>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Contractor Status : </label>
                                <select placeholder="Contractor Status" list="statusList" class="form-control"  th:field="*{contractor_status_id}" id="contractor_status_id" required="">
                                    <option class="form-control" th:each="contractorStatus : ${contractorStatuss}"
                                            th:value="${contractorStatus.id}"
                                            th:utext="${contractorStatus.contractor_status}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('contractor_status_id')}" th:errors="*{contractor_status_id}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Contractor Type : </label>
                                <select  type="text" placeholder="Contractor Type" class="form-control"  th:field="*{contractor_type_id}" id="contractor_type_id" required="">
                                    <option class="form-control" th:each="contractorType : ${contractorTypes}"
                                            th:value="${contractorType.id}"
                                            th:utext="${contractorType.contractor_type}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('contractor_type_id')}" th:errors="*{contractor_type_id}"></span>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>