<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        <title th:text="${nstitle}">Spring App</title>
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div th:switch="${customerSiteType}">
                        <h2 th:case="null">No Customer Site Type yet!</h2>
                        <div th:case="*">
                            <h2>Customer Site Type List</h2>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Customer Site Type</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="customerSiteType : ${customerSiteTypes}">
                                        <td th:text="${customerSiteType.id}"><a href="/customerSiteType/${customerSiteType.id}">Id</a></td>
                                        <td th:text="${customerSiteType.cust_site_type}">Customer Site Type </td>
                                        <td><a th:href="@{/removeCustomer SiteType/{id}(id=${customerSiteType.id})}"  class="btn btn-danger btn-rounded btn-sm  my-0">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <hr>
                <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->   
                </body>
                </html>