<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Add Customer</title>
        <!--/*/ <th:block th:include="fragments/th:text="${pageName} :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>ADD CUSTOMERS</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal"  action="#"  th:object="${customer}" th:action="@{/customer}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Company Name : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="cust_site_name" th:field="*{cust_site_name}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_name')}" th:errors="*{cust_site_name}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">(Optional) Store Id: </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="storeId" th:field="*{storeId}"/>
                            <span th:if="${#fields.hasErrors('storeId')}" th:errors="*{storeId}"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Company Street Address: </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="cust_site_address" th:field="*{cust_site_address}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_address')}" th:errors="*{cust_site_address}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Company City : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="cust_site_city" th:field="*{cust_site_city}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_city')}" th:errors="*{cust_site_city}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Customer Email : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="customerEmail" th:field="*{customerEmail}" required=""/>
                            <span th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></span>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label class="col-xs-2 control-label"> Zip Code : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="cust_site_zip" th:field="*{cust_site_zip}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_zip')}" th:errors="*{cust_site_zip}"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Business Phone : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="cust_site_phone" th:field="*{cust_site_phone}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_phone')}" th:errors="*{cust_site_phone}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Email : </label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" id="cust_site_email" th:field="*{cust_site_email}" required=""/>
                            <span th:if="${#fields.hasErrors('cust_site_email')}" th:errors="*{cust_site_email}"></span>
                        </div>
                    </div>
                    
                   
                    
                     <div class="form-group">
                        <label class="col-xs-2 control-label"> Customer Email : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="customerEmail" th:field="*{customerEmail}" required=""/>
                            <span th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <button type="Save"  class="btn btn-primary btn-rounded my-0">Save</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
