<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Point Of Sale</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <div class="container w-responsive"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->   
            <p style="font-weight:bold;font-size:18px;color:blue;" th:text="${addMessage}"></p>
            <br>
            <div class="row"> 

                <div class="col-md-5">
                    <form class="form-horizontal"  id="sale" action="#"  th:object="${sale}" th:action="@{/addCart}" method="post">
                        <div class="row">  
                            <div class="col-xs-8">      
                                <div class="form-group">
                                    <div class="col-xs-12">                                    
                                        <label class="control-label">Select Product : </label>
                                        <input  list="productList" class="form-control" name="hidden" th:field="*{productName}" id="productName" required="">
                                        <datalist id="productList">      
                                            <option class="form-control" th:each="product : ${products}"
                                                    th:value="${product.productName}"
                                                    th:utext="${product.productName}"></option>
                                        </datalist>
                                        <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity : </label>
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" id="quantity" th:field="*{quantity}" required=""/>
                                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-4"> 
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button type="Save"  class="btn btn-primary btn-rounded my-0">ADD TO CART</button>
                                    </div> </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <a class="btn btn-danger btn-rounded my-0" href="#" th:href="@{/clearSales}"> CLEAR CART</a>
                                    </div> </div>
                            </div>  
                        </div>  
                    </form>
                </div>
                <div class="col-md-7"> 
                    <form class="form-horizontal"  id="summary" action="#"  th:object="${summary}" th:action="@{/generateReceipt}" method="post">
                        <div class="row"> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-xs-10">                                    
                                        <label class="control-label">Select Customer : </label>
                                        <input  list="customerList" class="form-control"  th:field="*{customerId}" id="customerId" required="">
                                        <datalist id="customerList" th:each="customer : ${customers}">      
                                            <option class="form-control" th:each="customer : ${customers}"
                                                    th:value="${customer.customerId}"
                                                    th:utext="${customer.customerName}"></option>
                                        </datalist>
                                        <span th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mode of Payment: </label>
                                    <div class="col-xs-10 b ">
                                        <select class="form-control" th:field="*{mode}" id="mode" required="">
                                            <option class="form-control"  th:value="'Cash'" th:text="Cash" selected></option>
                                            <option class="form-control"  th:value="'Credit'" th:text="Credit"></option>
                                            <option class="form-control"  th:value="'Mpesa'" th:text="Mpesa"></option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('mode')}" th:errors="*{mode}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Amount Paid : </label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="amountPaid" th:field="*{amountPaid}" required=""/>
                                        <span th:if="${#fields.hasErrors('amountPaid')}" th:errors="*{amountPaid}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Discount : </label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="discount" th:field="*{discount}" required=""/>
                                        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-xs-10">
                                        <br>
                                        <button type="Save"  class="btn btn-danger btn-rounded my-0">GENERATE RECIEPT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>  
            <br>
            <div th:switch="${sales}">
                <h2 th:case="null">Empty Cart!</h2>
                <div th:case="*">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sale : ${sales}">
                                <td th:text="${sale.saleId}"></td>
                                <td th:text="${sale.categoryName}"></td>
                                <td th:text="${sale.productName}"></td>
                                <td th:text="${sale.quantity}"></td>
                                <td th:text="${sale.sellingPrice}"></td>
                                <td><a th:href="@{/removeSale/{id}(id=${sale.saleId})}"  class="btn btn-danger btn-rounded btn-sm  my-0">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
</html>
