<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
      
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${hw}" th:action="@{/hw}" method="post">
                        <div class="col-md-6">
                            <div class ="form-group">
                                <label>Manufacture Name</label>
                                <input type="text" class ="form-control" placeholder="" id="hw_name" th:field="*{hw_name}" required="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class ="form-group">
                                <label>Model</label>
                                <input type="text" class ="form-control" placeholder="#" id="model" th:field="*{model}" required="">
                            </div>
                        </div>

                        <div class ="form-group">
                            <label>Type</label>
                            <input type="text" class ="form-control" placeholder="Add Type" id="type" th:field="*{type}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Serial</label>
                            <input type="text" class ="form-control" placeholder="Serial No." id="serial" th:field="*{serial}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Mac Address</label>
                            <input type="macAddress" class ="form-control" placeholder="Mac Address" id="macAddress" th:field="*{macAddress}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Customer Id</label>
                            <input type="text" class ="form-control" placeholder="Zip code" id="hw_zip" th:field="*{hw_zip}" required="">
                        </div>


                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Hardware Status : </label>
                                <input  type="text"  placeholder="Hardware Status" class="form-control" name="hidden" th:field="*{hw_status_id}" id="hw_status_id" required="">
                                <span th:if="${#fields.hasErrors('hw_status_id')}" th:errors="*{hw_status_id}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Hardware Type : </label>
                                <input  type="text" placeholder="Hardware Type" class="form-control" name="hidden" th:field="*{type}" id="type" required="">
                                <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>