<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${hwManufacturer}" th:action="@{/hwManufacturer}" method="post">

                        <div class ="form-group">
                            <label>Name </label>
                            <input type="text" class ="form-control" placeholder="" id="hwManuName" th:field="*{hwManuName}" required="">
                        </div>
                        <div class ="form-group">
                            <label>Phone </label>
                            <input type="text" class ="form-control" placeholder="" id="hwManuPhone" th:field="*{hwManuPhone}" required="">
                        </div>

                        <div class ="form-group">
                            <label>Manufacturer Status</label>
                            <select placeholder="" class="form-control"  th:field="*{hwManufacturerStatus.hwManuStatusId}" id="hwManufacturerStatus.hwManuStatusId" required="">
                                <option class="form-control" th:each="hwManufacturerStatus : ${hwManufacturerStatuss}"
                                        th:value="${hwManufacturerStatus.hwManuStatusId}"
                                        th:utext="${hwManufacturerStatus.hw_manu_status}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('hwManufacturerStatus.hwManuStatusId')}" th:errors="*{hwManufacturerStatus.hwManuStatusId}"></span>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>