<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
      
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div th:switch="${hwManufacturers}">
                        <h2 th:case="null">No Hardware Model  yet!</h2>
                        <div th:case="*">
                            <h2>Hardware Model  List</h2>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Manufacturer </th>
                                        <th>Manufacturer Status </th>
                                        <th>Manufacturer Name</th>
                                        <th>Hardware Type</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="hwManufacturer : ${hwManufacturers}">
                                        <td th:text="${hwManufacturer.hwManuId}"></td>
                                         <td th:text="${hwManufacturer.hw_manu_name}"></td>
                                        <td th:text="${hwManufacturer.hwManufacturerStatus.hw_manu_status}"> </td>
                                        <td th:text="${hwManufacturer.hw_manu_phone}"> </td>
                                        <td><a th:href="@{/removeHwManufacturers/{id}(id=${hwManufacturer.hwManuId})}"  class="btn btn-danger btn-rounded btn-sm  my-0">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->   
    </body>
</html>