<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Open Stock</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Open Stock</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal"  action="#"  th:object="${stockInfo}" th:action="@{/openStock}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                  
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Opening Date : </label>
                        <div class="col-xs-10">
                            <input type="date" class="form-control" id="tranDate" th:field="*{tranDate}" required=""/>
                            <span th:if="${#fields.hasErrors('tranDate')}" th:errors="*{tranDate}"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-10">
                            <button type="Save"  class="btn btn-primary btn-rounded my-0">Open</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
