<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Add Prices</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Price Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal" action="#" th:action="@{/updatePrice/{id}(id=${price.id})}" th:object="${price}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Select Category : </label>
                        <div class="col-xs-10">
                            <select class="form-control" th:field="*{categoryName}" id="categoryName" required="">
                                <option class="form-control" value="" disabled="disabled"> -- </option>
                                <option class="form-control" th:each="category : ${categories}"
                                        th:value="${category.categoryName}"
                                        th:utext="${category.categoryName}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Select Product : </label>
                        <div class="col-xs-10">
                            <select class="form-control" th:field="*{productName}" id="productName" required="">
                                <option class="form-control" value="" disabled="disabled"> -- </option>
                                <option class="form-control" th:each="product : ${products}"
                                        th:value="${product.productName}"
                                        th:utext="${product.productName}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-2 control-label">Buying Price : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="buyingPrice" th:field="*{buyingPrice}" required=""/>
                            <span th:if="${#fields.hasErrors('buyingPrice')}" th:errors="*{buyingPrice}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Selling Price : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="sellingPrice" th:field="*{sellingPrice}" required=""/>
                            <span th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="Save" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>