<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Update Price</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Price Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal"  action="#"  th:object="${price}" th:action="@{/price}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                  
                        <div class="form-group">
                            <div class="col-xs-10">                                    
                                <label class="control-label">Select Product : </label>
                                <input  list="productList" class="form-control" name="hidden" th:field="*{productName}" id="productName" required="" autocomplete="false">
                                <datalist id="productList" th:each="product : ${products}">      
                                    <option class="form-control" th:each="product : ${products}"
                                            th:value="${product.productName}"
                                            th:utext="${product.productName}"></option>
                                </datalist>
                                <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                            </div>
                        </div>
                    

                    <div class="form-group">
                        <label class="control-label">Buying Price : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="buyingPrice" th:field="*{buyingPrice}" required=""/>
                            <span th:if="${#fields.hasErrors('buyingPrice')}" th:errors="*{buyingPrice}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Selling Price : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="sellingPrice" th:field="*{sellingPrice}" required=""/>
                            <span th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <button type="Save"  class="btn btn-primary btn-rounded my-0">Save</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
