<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
      
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form class="form-horizontal"  action="#"  th:object="${serviceType}" th:action="@{/serviceType}" method="post">
                        <input type="hidden" th:field="*{svcTypeId}"/>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Service Type : </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="svc_type" th:field="*{svc_type}" required=""/>
                                <span th:if="${#fields.hasErrors('svc_type')}" th:errors="*{svc_type}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <button type="Save" class="btn btn-primary btn-rounded my-0">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->   
    </body>
</html>