<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${serviceOrder}" th:action="@{/page3}" method="post">

                        <div class ="form-group">
                            <label>Service</label>
                            <select class="form-control" th:field="*{svc.svcId}" id="svo_type_id" required="">
                                <option class="form-control" th:each="svc : ${svcs}"
                                        th:value="${svc.svcId}"
                                        th:utext="${svc.svcName}">                                            
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('svc.svcId')}" th:errors="*{svc.svcId}"></span>
                        </div>
                        <div class ="form-group">
                            <label>Service Order Status</label>
                            <select class="form-control" th:field="*{serviceOrderStatus.svId}" id="svId" required="">
                                <option class="form-control" th:each="serviceOrderStatus: ${serviceOrderStatuss}"
                                        th:value="${serviceOrderStatus.svId}"
                                        th:utext="${serviceOrderStatus.svo_status}">                                            
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('serviceOrderStatus.svId')}" th:errors="*{serviceOrderStatus.svId}"></span>
                        </div>

                        <div class ="form-group">
                            <label>Hardware Needed</label>
                            <textarea placeholder="Hardware Needed..." type="text" class="form-control" th:field="*{work_request}" id="work_request" required=""></textarea>
                            <span th:if="${#fields.hasErrors('work_request')}" th:errors="*{work_request}"></span>
                        </div>


                        <div class ="form-group">
                            <label>Other Comments</label>
                            <textarea placeholder="Other Comments..." type="text" class="form-control" th:field="*{work_summary}" id="work_summary" required=""></textarea>
                            <span th:if="${#fields.hasErrors('work_summary')}" th:errors="*{work_summary}"></span>
                        </div>                        
                        <button type="submit" class="btn btn-success">Next</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>