<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="${nstitle}">Add Skill</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Skill Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal"  action="#"  th:object="${skill}" th:action="@{/skill}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Skill : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="skillName" th:field="*{skillName}" required=""/>
                            <span th:if="${#fields.hasErrors('skillName')}" th:errors="*{skillName}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="Save" class="btn btn-primary btn-rounded my-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
