<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>View Supplier Credit</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <span th:text="${addMessage}"></span>
            <div th:switch="${summarySupplierCredits}">
                 <a href="#" th:href="@{/summariseSupplierCredit}" class="btn btn-primary btn-rounded my-0">Update Supplier Credits</a>                   
                <h2 th:case="null">No Supplier Credit yet!</h2>
                <div th:case="*">
                    <h2>Supplier Credit List</h2>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Supplier Id</th>
                                <th>Amount Owed</th>
                                <th>Amount Paid</th>
                                 <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="summarySupplierCredit : ${summarySupplierCredits}">
                                <td th:text="${summarySupplierCredit.id}"></td>
                                <td th:text="${summarySupplierCredit.supplierId}"></td>
                                <td th:text="${summarySupplierCredit.amountOwed}"></td>
                                <td th:text="${summarySupplierCredit.amountPaid}"></td>
                                <td th:text="${summarySupplierCredit.status}"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

    </body>
</html>