<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Update Supplier</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Supplier Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal"  action="#"  th:object="${supplier}" th:action="@{/supplier}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Supplier ID : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="supplierId" th:field="*{supplierId}" required=""/>
                            <span th:if="${#fields.hasErrors('supplierId')}" th:errors="*{supplierId}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Supplier Name: </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="supplierName" th:field="*{supplierName}" required=""/>
                            <span th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Supplier Phone : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="supplierPhone" th:field="*{supplierPhone}" required=""/>
                            <span th:if="${#fields.hasErrors('supplierPhone')}" th:errors="*{supplierPhone}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label"> Supplier Email : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="supplierEmail" th:field="*{supplierEmail}" required=""/>
                            <span th:if="${#fields.hasErrors('supplierEmail')}" th:errors="*{supplierEmail}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <button type="Save"  class="btn btn-primary btn-rounded my-0">Save</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
