<!DOCTYPE html>
<html lang="en">
    <head>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->         
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#"  th:object="${svc}" th:action="@{/svc}" method="post">
                        <div class ="form-group">
                            <label>Service Name</label>
                            <input type="text" class ="form-control" placeholder="Service Name" id="svcName" th:field="*{svcName}" required="">
                        </div>

                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Service Status : </label>
                                <select class="form-control"  th:field="*{serviceStatus.svcStatusId}" id="svcStatusId" required="">
                                    <option class="form-control" th:each="serviceStatus : ${serviceStatuss}"
                                            th:value="${serviceStatus.svcStatusId}"
                                            th:utext="${serviceStatus.svc_status}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('serviceStatus.svcStatusId')}" th:errors="*{serviceStatus.svcStatusId}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label class="control-label">Service Type : </label>
                                <select class="form-control"  th:field="*{serviceType.svcTypeId}" id="svcTypeId" required="">
                                    <option class="form-control" th:each="serviceType : ${serviceTypes}"
                                            th:value="${serviceType.svcTypeId}"
                                            th:utext="${serviceType.svc_type}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('serviceType.svcTypeId')}" th:errors="*{serviceType.svcTypeId}"></span>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->     
    </body>
</html>