<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Update Unit</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Unit Details</h2>
            <span th:text="${addMessage}"></span>
            <form class="form-horizontal"  action="#"  th:object="${unit}" th:action="@{/unit}" method="post">
                  <div class="form-group">
                    <div class="col-xs-10">                                    
                        <label class="control-label">Select Product : </label>
                        <input  list="productList" class="form-control" th:field="*{productName}" id="productName" required="">
                        <datalist id="productList" th:each="product : ${products}">      
                            <option class="form-control" th:each="product : ${products}"
                                    th:value="${product.productName}"
                                    th:utext="${product.productName}"></option>
                        </datalist>
                        <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                    </div>
                </div>                  


                <div class="form-group">
                    <label class="col-xs-2 control-label">Unit Name : </label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="unitName" th:field="*{unitName}" required=""/>
                        <span th:if="${#fields.hasErrors('unitName')}" th:errors="*{unitName}"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10">
                        <button type="Save"  class="btn btn-primary btn-rounded my-0">Save</button>
                    </div> 
                </div>
            </form>
        </div>
    </body>
</html>
