<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Update Received Stock</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body >
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Stock Receive Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal" action="#" th:action="@{/updateStockReceive/{id}(id=${category.id})}" th:object="${category}">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group">
                        <div class="col-xs-10">                         
                            <input  list="categoryList" class="form-control" type="hidden" th:field="*{categoryName}" id="categoryName" required="">
                            <datalist id="categoryList" th:each="category : ${categorys}">      
                                <option class="form-control" th:each="category : ${categorys}"
                                        th:value="${category.categoryName}"
                                        th:utext="${category.categoryName}"></option>
                            </datalist>
                            <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-10">                                    
                            <label class="control-label">Select Product : </label>
                            <input  list="productList" class="form-control" name="hidden" th:field="*{productName}" id="productName" required="" autocomplete="false">
                            <datalist id="productList" th:each="product : ${products}">      
                                <option class="form-control" th:each="product : ${products}"
                                        th:value="${product.productName}"
                                        th:utext="${product.productName}"></option>
                            </datalist>
                            <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-2 control-label">Select Supplier ID : </label>
                        <div class="col-xs-10">
                            <select class="form-control" th:field="*{supplierName}" id="productName" required="">
                                <option class="form-control" value="" disabled="disabled"> -- </option>
                                <option class="form-control" th:each="product : ${products}"
                                        th:value="${product.productName}"
                                        th:utext="${product.productName}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Unit Buying Price : </label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="quantity" th:field="*{quantity}"/>
                            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Quantity : </label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="quantity" th:field="*{quantity}"/>
                            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Amount Paid : </label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="amountPaid" th:field="*{amountPaid}"/>
                            <span th:if="${#fields.hasErrors('amountPaid')}" th:errors="*{amountPaid}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Discount : </label>
                        <div class="col-xs-10">
                            <input type="number" class="form-control" id="discount" th:field="*{discount}"/>
                            <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="Save" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
