<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="${nstitle}"></title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <h2>Contractor Status Details</h2>
            <span th:text="${addMessage}"></span>
            <div>
                <form class="form-horizontal" action="#" th:action="@{/updateContractorStatus/{id}(id=${contractorStatus.id})}" th:object="${contractorStatus}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Contractor Status : </label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="contractor_status" th:field="*{contractor_status}" required=""/>
                            <span th:if="${#fields.hasErrors('contractor_status')}" th:errors="*{contractor_status}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="Save" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
