<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Update User</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <span th:text="${addMessage}"></span>
            <div th:switch="${users}">
                <h2 th:case="null">No user yet!</h2>
                <div th:case="*">
                    <h2>User List</h2>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>User ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.roles}"></td>
                                <td><a th:href="@{/editUser/{id}(id=${user.id})}"  class="btn btn-primary btn-rounded btn-sm  my-0">Edit</a></td>
                                <td><a th:href="@{/removeUser/{id}(id=${user.id})}"  class="btn btn-danger btn-rounded btn-sm  my-0">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

    </body>
</html>