<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Products</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container"  >
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <span th:text="${addMessage}"></span>
            <div th:switch="${products}">
                <h2 th:case="null">No products yet!</h2>
                <div th:case="*">
                    <h2>Product List</h2>
                    <button id="myBtn">Detailed List</button>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Product Name</th>
                                <th>Product Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                                <td th:text="${product.categoryName}">Category</td>
                                <td th:text="${product.productName}">Product Name</td>
                                <td><a th:href="@{/editProduct/{id}(id=${product.id})}"  class="btn btn-primary btn-rounded btn-sm  my-0">Edit</a></td>
                                <td><a th:href="@{/removeProduct/{id}(id=${product.id})}"  class="btn btn-danger btn-rounded btn-sm  my-0">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="myModal" class="modal" style="margin-top:50px;">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <span th:text="${detailMessage}"></span>
                    <div th:switch="${details}">
                        <h2 th:case="null">No detail yet!</h2>
                        <div th:case="*">
                            <h2>Detail List</h2>
                            <table class="table table-striped table-bordered table-condensed">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Category</th>
                                        <th>Product Name</th>
                                        <th>Buying Detail</th>
                                        <th>Selling Detail</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="detail : ${details}">
                                        <td th:text="${detail.id}"></td>
                                        <td th:text="${detail.categoryName}"></td>
                                        <td th:text="${detail.productName}"></td>
                                        <td th:text="${detail.buyingPrice}"></td>
                                        <td th:text="${detail.sellingPrice}"></td>
                                        <td th:text="${detail.stock}"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>

            <script>
                var modal = document.getElementById('myModal');
                var btn = document.getElementById("myBtn");
                var span = document.getElementsByClassName("close")[0];
                btn.onclick = function () {
                    modal.style.display = "block";
                }
                span.onclick = function () {
                    modal.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                //2
                var searchModel = document.getElementById('mySearch');
                var btn1 = document.getElementById("myBtn1");
                var span1 = document.getElementsByClassName("close")[0];
                btn1.onclick = function () {
                    searchModel.style.display = "block";
                }
                span1.onclick = function () {
                    searchModel.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == searchModel) {
                        searchModel.style.display = "none";
                    }
                }
            </script>
        </div>
    </body>
</html>